* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-top {
  text-align: center;
  padding: 10px 0;
  max-height: 75px;
  color: #14320e;
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 1.5rem;
  background: linear-gradient(
    to right,
    var(--verde-claro),
    var(--verde-escuro)
  );
}
.header-top h1 {
    color: #14320e;
}

.site-header {
  position: sticky;
  width: 100%;
  opacity: 90%;
  top: 0;
  z-index: 1000;
}

/*.header-top{
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}*/


.navbar {
  background-color: #0b2e12;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 40px;
  flex-wrap: wrap;
}

.nav-logo img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #a9e4a6;
}

.search {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #a8c686; /* linha embaixo */
  width: 250px;
  padding: 5px 0;
}

.search input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 16px;
  color: white;
  padding-right: 10px;
}

.search input::placeholder {
  color: #ccc;
  color: #a8c686;
}

.icon-lupa {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #a8c686;
  border-radius: 10px;
  
}

.icon-lupa:hover {
  transform: scale(1.1);
}

/* Mobile */
.navbar_toggle {
    font-size: 2rem;
    border: none;
    background: none;
    color: rgb(21, 230, 83);
    cursor: pointer;
    transition: 0.3s;
    display: none;

}

.navbar_toggle ion-icon:hover {
    color: white;
}

#mobileMenu {
    position: absolute;
    top: 135px;
    right: 20px;
    width: 150px;
    background: rgb(41, 105, 39);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 1.2rem 1rem;
    opacity: 0;

}

/* Quando o JavaScript ativar */
#mobileMenu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    opacity: 1;
    transform: translateY(0);
}

footer {
  background-color: var(--texto-titulo); /* cor de fundo */
  color: white;
  text-align: center;
  padding: 30px 0;
  margin-top: 40px;
  
}
  

.footer-content h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #a8c686; /* cor do título */
}

.social-icons {
  margin-bottom: 15px;
}

.social-icons a {
  color: #a8c686;
  font-size: 22px;
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons img:hover {
  color: #c4d9a2;
  transform: scale(1.2);
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.social-icons img{
  width: 50px;
  height: 50px;
}

footer p {
  font-size: 14px;
  color: #ccc;
  margin-top: 10px;
}

html, body {
  overflow-x: hidden;
}
/* ========================= 
      RESPONSIVIDADE 
 Links Navegação e Quiz
============================ */
@media (max-width: 1024px) {
  .nav-links a {
    font-weight: 300;
    align-items: center;
  }
   
 .search {
  width: 150px;
 }
  .header-top h1 {
    font-size: 1.5rem;
    letter-spacing: 4px;
  }

  .nav-logo img {
    width: 70px;
    height: 70px;
  }
  
 
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .search {
    display: none;
  }
 
  .header-top h1 {
    font-size: 1rem;
    letter-spacing: 4px;
  }

 .navbar_toggle {
        display: block;
        font-size: 3rem;
        z-index: 10;
     }
  .nav-logo img {
    width: 60px;
    height: 60px;
  }
  
  .social-icons img{
  width: 35px;
  height: 35px;
}

}

/* Mobile */
@media (max-width: 480px) {

  .nav-links {
    display: none;
  }
  .search {
    display: none;
  }
 
  .header-top h1 {
    font-size: 0.8rem;
    letter-spacing: 4px;
  }

  .navbar_toggle {
        display: block;
        font-size: 3rem;
        z-index: 10;
     }
 .nav-logo img {
    width: 40px;
    height: 40px;
  }

  .social-icons img{
  width: 25px;
  height: 25px;
}

}



